.btn {
  padding: 10px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0px;
}

.btn:hover {
  border-color: teal;
  color: #fff;
  background-color: teal;
  transition: all 0.3s ease;
}